<div id="contenido" class="content">
    <div class="container_12">
        <ul class="tabs">
                <li><a href="#myprofile">My Profile</a></li>
                <li><a href="#myfavorites">My Favorites</a></li>
                <li><a href="#mypurchases">My Purchase</a></li>
        </ul>
        <div class="tab-container">
                <div id='myprofile' class="tab_content">
                                <form action="/file-upload"class="dropzone"id="my-awesome-dropzone"></form>
                </div>
                <div id='myfavorites' class="tab_content">
                </div>
                <div id='mypurchases' class="tab_content">
                </div>
        </div>  
</div>
</div> 
