<div id="contenido" class="content">
    <div class="container_12">
        <div class="grid_12">   

            <h2 class="flex1"> Carrito </h2>
            <div></div>
            <div id="tablecart">
                <div id="cart_wrapper" class="dataTables_wrapper no-footer">
                 <table id="cart" class="dataTable no-footer" role="grid">
                    <thead>
                        <tr role="row">
                            <td><b>Nombre</b></th> 
                            <td><b>Precio</b></th>
                            <td><b>Noches</b></th>
                            <td><b>Total</b></th>
                            <th>Eliminar</th>  
                            
                        </tr>
                    </thead>
                    <tbody id="cartBody">
                    </tbody>
                    </table>
                  </div> 
                
            </div>
            <div><p style="text-align:center" id="btnscart"><a class="btn" href="index.php?page=controllershop&op=view">Volver</a></p></div>
        </div>
    </div>
</div>